# Bureautique et Serveur
fastapi
uvicorn
pydantic
google-genai
smolagents[litellm]
python-multipart
pandas
openpyxl
python-docx
python-pptx
pymupdf4llm
docx2txt
reportlab
pdf2image
xlsxwriter

# Langchain et IA
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
duckduckgo-search

# Mémoire Locale (RAG)
sentence-transformers
transformers
tokenizers

# Reconnaissance Faciale et Vecteurs
deepface
faiss-cpu
opencv-python-headless
tf-keras

# Outils Web et API
requests
Pillow